<template>
  <div>
    <h1>Sida {{ $route.params.id }}</h1>
    <nuxt-link :to="{name: 'page'}"><h2>Gå tillbaka</h2></nuxt-link>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  components: {
  }
})
</script>
