<template>
  <div>
    <h1>Sidor</h1>

    <nuxt-link :to="{name: 'page-id', params: {id: nr}}"><h2>Redigera produkt {{ nr }}</h2></nuxt-link>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  data: () => ({
    nr: Math.floor(Math.random() * 100),
  }),
  components: {
  }
})
</script>
